# ignore VS documents
*.suo

# ignoreing VS build fodlers
**/obj
obj
**/node_modules

# only commit totaljs typings, rest will be loaded dynamically
**/typings/*

# ignore temporary folder

**/tmp

# ignore compiled script source
**/*.js
**/*.js.map
.ntvs_analysis.dat
**/.tscache/*