[submodule "typings/totaljs"]
	path = typings/totaljs
	url = git@github.com:bigz94/typescript-totaljs-definitions.git
[submodule "views/node_modules/total.js"]
	path = views/node_modules/total.js
	url = https://github.com/totaljs/framework.git
[submodule "config-debug-release-test/node_modules/total.js"]
	path = config-debug-release-test/node_modules/total.js
	url = git@github.com:totaljs/framework.git
[submodule "angularjs/node_modules/total.js"]
	path = angularjs/node_modules/total.js
	url = git@github.com:totaljs/framework.git
[submodule "assertion-testing/node_modules/total.js"]
	path = assertion-testing/node_modules/total.js
	url = git@github.com:totaljs/framework.git
